<section class="maincontainer">

	<div class="row imageChoiceContainer">
		<div class="btn-group">
			<button class="btn btn-primary bigbuttons">Yesterday's Challenge</button>
			<button class="btn btn-primary bigbuttons">Today's Challenge</button>
			<button class="btn btn-primary bigbuttons">Tommorow's Challenge</button>
		</div>
	</div>

	<div class="container" style="height: 500px;">
		<h2 class=" display-3" style="text-align: center;">Challenger - About</h2>
		<legend class="text-center text-dark"><strong> Unified daily crowdsourcing-activity platform, each day a single challenge is selected
			to be encouraged to be completed via community funding.</strong>
		</legend>
	</div>

</section>