

<div class="panelTheme m-3" style="max-height: 250px; width:auto;">
	<div class="container">

	<div class="row">
		<p class="mx-auto d-block d-sm-none">{{panelChallenge.challengeHeading}}</p>
		<div class="col-9 col-md-3  align-self-center mt-1">
			<div class="text-center">
				<img class="borderThin" src={{panelChallenge.challengeImgUrl}} style="max-height: 120px; ">
			</div>
		</div>

		<div class="col-0 col-sm-6 d-none d-sm-block pt-md-5">
			<h4 class="mr-auto m-md-auto text-justify text-md-center">{{panelChallenge.challengeHeading}}
			</h4>
			<div class="p-3 m-auto d-none d-lg-block justify-content-start text-justify align-self-sm-center" style="max-height: 75px; overflow: hidden;">
				<p style="max-height: 120px">{{panelChallenge.challengeText}}
				</p>						
			</div>
		</div>

		<div class="d-inline-block col-3 mt-sm-4 mb-sm-1 mb-4 align-self-center text-center">
			<div class="d-md-inline-block p-2 mx-auto align-middle clickable borderThin">
				<p>{{panelChallenge.challengeUpvote}}</p>
				<i class="fa fa-thumbs-up lead" aria-hidden="true" >  </i>
			</div>

			<div class="d-none d-lg-inline-block" style="width:30px;">
			</div>

			<div class="d-md-inline-block p-2 mx-auto align-middle clickable borderThin">
				<p>{{panelChallenge.challengeDownvote}}</p>
				<i class="fa fa-thumbs-down lead" aria-hidden="true">  </i>
			</div>
		</div>

	</div>

	<div class="row  align-self-end mt-auto" style="min-height: 10px;">
			<div class="col-12 ">
				<div class="float-right clickable ">
					<i class="fa fa-snowflake-o lead" aria-hidden="true"> Report </i>	
				</div>
			</div>
		</div>
	</div>


</div>