<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #222; border-radius:25px;">
  <div class="container">
    <a class="navbar-brand mx-auto mx-sm-3" [routerLink]="['home']">Challenger</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" (click)="onHamburgerClick()"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse text-center mr-5" id="collapsableMenu" appHamburgerOnClick #collapsableMenu>
      <ul class="collapse navbar-nav m-auto">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/yesterday']"> Yesterday's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/today']"> Today's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/tommorow']"> Tommorow's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Archive']"> Archive </a>
        </li>
      </ul>
    </div>
  </div>
</nav>