<div class="container">
	<div class="row">
		<div class="container">
			<div class="panel panel-inverse">
				<div class="panel-body">
					<h2>Today's Challenge</h2>
				</div>
			</div>
		</div>
	</div>
		
		<div *ngIf="formloaded">
			<app-challenge-response [channelInput]="todaysChallenge"></app-challenge-response>
		</div>

	<div class="row">
		<div class="container">
			<div class="panel panel-inverse">
				<div class="panel-body">
	
					<nav class="navbar navbar-expand-sm navbar-dark d-block d-sm-none panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row mx-auto">
							<div class="d-flex flex-row">
								<button class="btn btn-dark m-1">Top</button>
								<button class="btn btn-dark m-1">Recent</button>
								<button class="btn btn-dark m-1">Hated</button>
								<button class="btn btn-dark" (click)="openModal(template)"><i class="fa fa-plus" aria-hidden="true"></i></button>
							</div>
						</div>

						<div class="row mx-auto">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>
							
					<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-block d-md-none panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row mx-auto">
							<div class="d-flex flex-row ">
								<div class="btn-group">
								<button class="btn btn-dark">Top</button>
								<button class="btn btn-dark">Recent</button>
								<button class="btn btn-dark">Hated</button>
								<button class="btn btn-dark" (click)="openModal(template)"><i class="fa fa-plus" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>

						<div class="row mx-auto">
							<div class="d-flex flex-row ">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>

					<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-none d-md-block panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row float-left">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<button class="btn btn-dark">Top</button>
								<button class="btn btn-dark">Recent</button>
								<button class="btn btn-dark">Hated</button>

								</div>
							</div>
						</div>

						<div class="row float-right">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button><button class="btn btn-dark" (click)="openModal(template)"><i class="fa fa-plus" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>
					
					<div *ngIf="formloaded">
						<div *ngIf="attachedCommentTree.length == 0" class="p-5">
							<h3 class="display-4 text-center text-justify">No comments found.</h3>
						</div>

						<div *ngFor="let item of attachedCommentTree">
							<app-comment-panel [commentDetails]="item"></app-comment-panel>
						</div>
					</div>
						

				</div>
			</div>
		</div>
	</div>
</div>


<ng-template #template>
	<div class="modal-header panelTheme" style="color: white; ">
		<h4 class="modal-title pull-left ">New Comment</h4>
		<button type="button" class="close pull-right" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body panelTheme">
		<div class="d-flex flex-column mt-5 ml-2">
			<form [formGroup]="newCommentForm" (ngSubmit)="onCommentSubmit()">
				<div class="d-flex flex-row">

					<div class="form-group">
						<textarea formControlName="commentText" rows="6" cols="50" type="text" class="form-control" placeholder="Enter Comment"></textarea>
					</div>

				</div>

				<div class="d-flex flex-row">
					<div class="btn-group">
						<button class="btn btn-dark" [disabled]="newCommentForm.valid==false" type="Submit" style="width:80px;">Submit</button>
						<button class="btn btn-dark" style="width:80px;" (click)="modalRef.hide()">Close</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</ng-template>