<div class="container">
	<div class="row">
		<div class="container">
			<div class="panel panel-inverse">
				<div class="panel-body">
					<h2>Today's Challenge</h2>
				</div>
			</div>
		</div>
	</div>

		<app-challenge-response [channelInput]="todaysChallenge"></app-challenge-response>

	<div class="row">
		<div class="container">
			<div class="panel panel-inverse">
				<div class="panel-body">
	
					<nav class="navbar navbar-expand-sm navbar-dark d-block d-sm-none panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row mx-auto">
							<div class="d-flex flex-row">
								<button class="btn btn-dark m-1">Top</button>
								<button class="btn btn-dark m-1">Recent</button>
								<button class="btn btn-dark m-1">Hated</button>
							</div>
						</div>

						<div class="row mx-auto">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>
							
					<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-block d-md-none panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row mx-auto">
							<div class="d-flex flex-row ">
								<div class="btn-group">
								<button class="btn btn-dark">Top</button>
								<button class="btn btn-dark">Recent</button>
								<button class="btn btn-dark">Hated</button>
								</div>
							</div>
						</div>

						<div class="row mx-auto">
							<div class="d-flex flex-row ">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>

					<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-none d-md-block panelTheme" style="background-color: #222">
					  <div class="container">

						<div class="row float-left">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<button class="btn btn-dark">Top</button>
								<button class="btn btn-dark">Recent</button>
								<button class="btn btn-dark">Hated</button>
								</div>
							</div>
						</div>

						<div class="row float-right">
							<div class="d-flex flex-row">
								<div class="btn-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-dark">Search</button>
								</div>
							</div>
						</div>
					  </div> 
					</nav>
					
					<div *ngIf="attachedCommentTree.length == 0" class="p-5">
						<h3 class="display-4 text-center text-justify">No comments found.</h3>
					</div>

					<div *ngFor="let item of attachedCommentTree">
						<app-comment-panel></app-comment-panel>
					</div>

						

				</div>
			</div>
		</div>
	</div>
</div>
