<div class="container">

<nav class="navbar navbar-expand-sm navbar-dark d-block d-sm-none panelTheme" style="background-color: #222">
  <div class="container">

	<div class="row mx-auto">
		<div class="d-flex flex-row">
			<button class="btn btn-dark m-1">Top</button>
			<button class="btn btn-dark m-1">Recent</button>
			<button class="btn btn-dark m-1">Hated</button>
			<button class="btn btn-dark m-1"><i class="fa fa-plus" aria-hidden="true"></i></button>
		</div>
	</div>

	<div class="row mx-auto">
		<div class="d-flex flex-row">
			<div class="btn-group">
			<input type="text" class="form-control" placeholder="Search">
			<button class="btn btn-dark">Search</button>
			</div>
		</div>
	</div>
  </div> 
</nav>
		
<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-block d-md-none panelTheme" style="background-color: #222">
  <div class="container">

	<div class="row mx-auto">
		<div class="d-flex flex-row ">
			<div class="btn-group">
			<button class="btn btn-dark">Top</button>
			<button class="btn btn-dark">Recent</button>
			<button class="btn btn-dark">Hated</button>
			<button class="btn btn-dark"><i class="fa fa-plus" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>

	<div class="row mx-auto">
		<div class="d-flex flex-row ">
			<div class="btn-group">
			<input type="text" class="form-control" placeholder="Search">
			<button class="btn btn-dark">Search</button>
			</div>
		</div>
	</div>
  </div> 
</nav>

<nav class="navbar navbar-expand-sm navbar-dark d-none d-sm-none d-md-block panelTheme" style="background-color: #222">
  <div class="container">

	<div class="row float-left">
		<div class="d-flex flex-row">
			<div class="btn-group">
			<button class="btn btn-dark">Top</button>
			<button class="btn btn-dark">Recent</button>
			<button class="btn btn-dark">Hated</button>
			</div>
		</div>
	</div>

	<div class="row float-right">
		<div class="d-flex flex-row">
			<div class="btn-group">
			<input type="text" class="form-control" placeholder="Search">
			<button class="btn btn-dark">Search</button>
			<button class="btn btn-dark m-1"><i class="fa fa-plus" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
  </div> 
</nav>


	<div *ngFor="let listitem of challengeListing">	
		<app-challenge-response [channelInput]="listitem"></app-challenge-response>
	</div>
</div>
