<div class="panelTheme" style="min-height: 150px; width:auto;">
	<div class="container">
	<div class="row">
		<div class="col-9">
			<h2 class="mr-auto p-3">Title</h2>
			<div class="p-3 justify-content-start text-justify">
				<p>Text that user inserts is shown here:
					Text that user inserts is shown here:
					Text that user inserts is shown here:
				</p>						
			</div>
		</div>
		<div class="d-inline-block col-3 mt-5 align-self-center  text-center">
				<div class="d-inline-block p-2 mx-auto align-middle clickable borderThin">
					<p>320</p>
					<i class="fa fa-thumbs-up lead" aria-hidden="true" >  </i>
				</div>
				<div class="d-inline-block" style="width:30px;">

				</div>
				<div class="d-inline-block p-2 mx-auto align-middle clickable borderThin">
					<p>432</p>
					<i class="fa fa-thumbs-down lead" aria-hidden="true">  </i>
				</div>
		</div>
	</div>
		<div class="row">
			<div class="col-12 ">
				<div class="p-3 float-right clickable">
					<i class="fa fa-snowflake-o lead" aria-hidden="true"> Report </i>	
				</div>
			</div>
		</div>
	</div>
</div>