<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #222">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">Challenger</a>
      <ul class="navbar-nav m-auto">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/yesterday']"> Yesterday's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
         <a class="nav-link" [routerLink]="['/today']"> Today's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/tommorow']"> Tommorow's Challenge </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Archive']"> Archive </a>
        </li>
      </ul>
  </div>  
</nav>



<div class="container mt-5" style="width:100%;">
      
    <router-outlet></router-outlet>

</div>